# 리니지2M API KEY (필수 아님, 기존 코드에 하드코딩 되어있으면 생략 가능하지만 추후를 위해 권장)
L2M_API_KEY="여기에_발급받은_API_KEY를_넣으세요"

# 텔레그램 봇 토큰 (필수)
# 텔레그램에서 @BotFather 검색 후 /newbot 명령어로 발급
TELEGRAM_BOT_TOKEN="여기에_봇토큰_입력"

# 텔레그램 채팅방 ID (필수)
# 봇과 대화방을 만든 후 안녕이라고 한 번 치고, idbot 등을 통해 본인의 아이디 숫자를 알아내세요
TELEGRAM_CHAT_ID="본인의_채팅_방_숫자형_ID"

# 봇이 알림을 보낼 스캔 주기 (분 단위)
SCAN_INTERVAL_MINUTES=60
